__pycache__/
.idea/
datasets
easy_run_1
old
*.pyc
*.pyo
*.sw*
sh/
*.txt
.vscode/
external/
playground/
!requirements.txt
!docs/requirements-docs.txt
.DS_Store
docs/_build/
logs/
gfn_samples.pkl
gfn_samples.csv
data/MNIST/
data/cifar-10-batches-py/
wandb/
models/lenet5_pretrained.pt
